html {
    background-color: #A99ABD;
    background-position: center top;
    
   }
   h1{
   text-align: center;
   color: white;
   font-size: 350%
   }
   
  
   p{
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   text-align: center;
   color: white;}
   
   
